#restaurantes{
    font-size: 30px;
}
#carrinho{
    position: absolute;
    right: 40px;
    top: 45px;
    font-size: 25px;
}
#menuinicial{
    font-size: 30px;
}
.momento{
    display: inline-block;
    margin-bottom: 40px;
}
#footer{
    position: fixed;
    bottom: 10px;
}